*.kpf
*.pyc
*.swp
*.*.swp
.*.*.swo
*.log
*.pid
*.komodo*
.idea
.pydevproject
.project
/.settings
/.metadata
dropin.cache
docs
build
dist
logs
*.egg-info
eggs/
parts/
develop-eggs/
downloads/
bin/
.installed.cfg
buildout.cfg
res/config/pyon.local.yml
res/config/logging.local.yml
res/config/*~*
scripts/*~*
unittest.out
interface/*
cc-pid*
.coverage
cover/