*.kpf
*.swp
*.*.swp
.*.*.swo
*.komodo*
.idea
.pydevproject
.project
/.settings
/.metadata
dropin.cache
*.log
*.pid
*.pyc
*.pyo
docs
build
dist
logs
*.egg-info
src/*.egg-info
eggs
part
develop-eggs
downloads
bin
.installed.cfg
scripts/*~*
unittest.out
interface
cc-pid*
.coverage
cover/
**/res/config/pyon.local.yml
**/res/config/logging.local.yml
**/res/config/*~*
