*.kpf
*.swp
*.*.swp
.*.*.swo
*.komodo*
.idea
.pydevproject
.project
/.settings
/.metadata
dropin.cache
**/.DS_Store
*.log
*.pid
*.pyc
*.pyo
/bin
/build
/develop-eggs
/dist
/docs
/eggs
/interface
/logs
/part
/src/scripts/*~*
*.egg-info
downloads
.installed.cfg
unittest.out
/cc-pid*
/gls-*
/manhole-*
.coverage
coverage_results/
**/res/config/pyon.local.yml
**/res/config/logging.local.yml
**/res/config/*~*
